*
!/**/

!/internal/**/*.nix
!/npins/default.json
!/npins/sources.json

!/pkgs/**/*.json
!/pkgs/**/*.nix
!/pkgs/**/*.nu
!/pkgs/**/*.patch

!/.cade
!/.gitattributes
!/.gitignore
!/flake.lock
!/flake.nix
!/license
